<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Contact Me</title>
</head>

<body id="bg-img">

    <header>
        <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </div>
        <nav class="menu">
            <div class="menu-branding">
                <div class="portrait"></div>
            </div>
            <ul class="menu-nav">
                <li class="nav-item ">
                    <a href="/" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link">
                    Login
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="nav-link">
                    Register
                    </a>
                </li>        
                <li class="nav-item">
                    <a href="/projects" class="nav-link">
                        Projects
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/about" class="nav-link">
                        About Me
                    </a>
                </li>
                <li class="nav-item current">
                    <a href="/contact" class="nav-link">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
    </header>


    <main id="contact">
        <h1 class="lg-heading">
            Contact <span class="span-text-secondary">Me</span>
        </h1>
        <h2 class="sm-heading">Get in touch for business enquiries and consultation:</h2>
        <div class="boxes">
            <div>
                <span class="span-text-secondary">
                    Email:
                </span> Coming Soon.
            </div>
            <div>
                <span class="span-text-secondary">
                    Phone:
                </span> <b>(+44)</b>76942069420
            </div>
            <div>
                <span class="span-text-secondary">
                    Socials:
                </span>
                <a href="https://github.com/JakeBiggs">
                    <i class="fa-brands fa-github fa-2x"></i>
                </a>
                <a href="https://linkedin.com/in/jacob-biggs-268423221">
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                </a>
                <a href="mailto:jakejbiggs1@gmail.com">
                    <i class="fa-solid fa-envelope fa-2x"></i>
                </a>
                <a href="https://discordapp.com/users/316980864414121985">
                    <i class="fa-brands fa-discord fa-2x"></i>
                </a>
            </div>
        </div> 
        <div class="contact-form">
            <div class="form-section"><h1>Contact Me Directly:</h1></div>
            <div class="form-section">
            <form action="!#" method="post">
                <div class="form-section">
                    <label id="name">Name:</label>
                    <input type="text" name="name" required>
                </div>
                <div class="form-section">
                    <label id="email">Email:</label>
                    <input type="email" name="email" required>
                </div>
                <div class="form-section">
                    <label id="message">Message:</label>
                    <textarea name="message" rows="4" required></textarea>
                </div>
                <div class="form-section">
                    <label for="submit">
                    <input class="submit" type="submit" value="Submit">
                    </label>
                </div>
            </form>
            </div>
        </div>
    </main>

    <footer id="main-footer">Copyright &copy; 2023</footer>

</body>

</html>