<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Contact Me</title>
</head>

<body id="bg-img">

    <main id="contact">
        <h1 class="lg-heading">
            Contact <span class="span-text-secondary">Me</span>
        </h1>
        <h2 class="sm-heading">Get in touch for business enquiries and consultation:</h2>
        <div class="boxes">
            <div>
                <span class="span-text-secondary">
                    Email:
                </span> Coming Soon.
            </div>
            <div>
                <span class="span-text-secondary">
                    Phone:
                </span> <b>(+44)</b>76942069420
            </div>
            <div>
                <span class="span-text-secondary">
                    Socials:
                </span>
                <a href="https://github.com/JakeBiggs">
                    <i class="fa-brands fa-github fa-2x"></i>
                </a>
                <a href="https://linkedin.com/in/jacob-biggs-268423221">
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                </a>
                <a href="mailto:jakejbiggs1@gmail.com">
                    <i class="fa-solid fa-envelope fa-2x"></i>
                </a>
                <a href="https://discordapp.com/users/316980864414121985">
                    <i class="fa-brands fa-discord fa-2x"></i>
                </a>
            </div>
        </div> 
        <div class="contact-form">
            <div class="container mt-4">
                <div class="card">
                    <div class="card-header">Contact Me Directly:</div>
                    <div class="card-body">
                        <form action="/submitcontact" method="post">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" name="name" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Message</label>
                                <textarea name="message" class="form-control" rows="4" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            
        
        
    </main>

</body>

</html>