<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

  <title>Jacob Biggs</title>
</head>


  <body id="bg-img">
    <header>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>
      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
          <li class="nav-item current">
            <a href="/" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link">
              Login
            </a>
          </li>
          <li class="nav-item">
            <a href="/register" class="nav-link">
              Register
            </a>
          </li>
          <li class="nav-item">
            <a href="/projects" class="nav-link">
              Projects
            </a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">
              About Me
            </a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">
              Contact
            </a>
          </li>
        </ul>
      </nav>
    </header>


    <main id="home">
      <h1 class="lg-heading">
        Jacob <span class="span-text-secondary"> Biggs</span>
      </h1>
      <h2 class="sm-heading">Web Developer | Programmer | Student </h2>

      <div class="icons">
        <a href="https://github.com/JakeBiggs">
          <i class="fa-brands fa-github fa-2x"></i>
        </a>
        <a href="https://linkedin.com/in/jacob-biggs-268423221">
          <i class="fa-brands fa-linkedin fa-2x"></i>
        </a>
        <a href="mailto:jakejbiggs1@gmail.com">
          <i class="fa-solid fa-envelope fa-2x"></i>
        </a>
        <a href="https://discordapp.com/users/316980864414121985">
          <i class="fa-brands fa-discord fa-2x"></i>
        </a>
      </div>

      <div class="card" style="width: 18rem; position: absolute; right: 0; bottom: 0; margin: 1rem;">
    <div class="card-body">
    <h5 class="card-title">Welcome</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">User: Admin</h6>
    <p class="card-text">Please Register if you are new to the site, or login if you are an existing user.</p>
    <a href="#" class="card-link">Login</a>
    <a href="#" class="card-link">Register</a>
  </div>
  </div>

      
   
  </body>
 </main>
</html></main>