<!-- None of this shit works (yet) TODO: figure out what to include here -->

<!DOCTYPE html>
<html>
<head>
  <title>Profile Page</title>
</head>
<body>
  <header style="::after {z-index: 0;}">
    <h1 style="z-index: 0;">Welcome to Your Profile</h1>
  </header>

  <main>
    <div class="card padding-4">
  <h1 class="display-4">Logged in as: {{currentUser.email}} </h1>
  <hr class="my-4">
  <p class="lead">This is your profile, here you can access user specific functions and information.</p>
  <hr class="my-4">
     <div class="card mt-4" style="padding: 1rem 0 0 1rem">
      <div class="card-heading"><h3>My Details</h3></div>
      <div class="card-body">
      <p class="card-text">Email: <a href="mailto:jakejbiggs1@gmail.com" class="card-link"> jakejbiggs1@gmail.com</a></p>
      <p class="card-text">Phone: 07889786407</p>
      <p class="card-text">Social Media:</p>
      <div class="icons">
        <a href="https://github.com/JakeBiggs">
          <i class="fa-brands fa-github fa-2x"></i>
        </a>
        <a href="https://linkedin.com/in/jacob-biggs-268423221">
          <i class="fa-brands fa-linkedin fa-2x"></i>
        </a>
        <a href="mailto:jakejbiggs1@gmail.com">
          <i class="fa-solid fa-envelope fa-2x"></i>
        </a>
        <a href="https://discordapp.com/users/316980864414121985">
          <i class="fa-brands fa-discord fa-2x"></i>
        </a>
      </div>
      </div>
    </div>
    </div>
  <p class="lead">
    <a class="btn" href="#" role="button">Learn more</a>
  </p>
    </div>    

    <div class="container">
    <!--
    <div class="card mt-4">
        <div class="card-heading"></div>
      <h2>{{currentUser.email}}</h2>
      <p>{{currentUser.bio}}</p>
      <p>{{currentUser.location}}</p>
    </div>-->



   
  </main>

</body>
</html>
