.menu-btn {
  z-index: 3;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #0d0d0d;
    transition: all 0.5s ease-out; }
    .menu-btn .btn-line:nth-child(3) {
      margin: 0 0 0 0; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      display: none; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(1px, 0px); }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: rgba(239, 232, 225, 0.9);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-in; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: rgba(248, 245, 242, 0.9);
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-in; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../images/portrait.JPG");
      background-size: cover;
      border-radius: 50%;
      border: solid 5px #078080; }
  .menu .nav-item {
    transition: all 0.5s ease-out;
    transform: translate3d(600px, 0, 0); }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #078080; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem, 0;
    font-weight: 300;
    color: #0d0d0d;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #078080; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.nav-item:nth-child(5) {
  transition-delay: 0.5s; }

.nav-item:nth-child(6) {
  transition-delay: 0.6s; }

html, main {
  width: 100%;
  height: 100%; }

body {
  background: linear-gradient(-45deg, #f8f5f2, #0d0d0d, #fffffe, #232323);
  background-size: 400% 1000%;
  animation: gradient 15s ease infinite; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 50% 50%; }
  100% {
    background-position: 0% 50%; } }

* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  html#home, body#home {
    overflow: hidden; }

body {
  position: relative;
  margin: 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #0d0d0d;
  line-height: 1.5; }
  body #bg-img {
    padding-left: 0; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(252, 250, 249, 0.5); }

a {
  color: #0d0d0d;
  text-decoration: none; }

header {
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 10vh;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: rgba(252, 250, 249, 0.5);
  border-bottom: #078080 5px solid; }
  header .user-functions {
    display: flex;
    flex-direction: row;
    transition: all 0.5s ease-out; }
    header .user-functions ul {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0; }
      header .user-functions ul .user-functions-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0rem 1rem;
        margin: 1rem 0 0 1rem;
        border-radius: 5px;
        transition: all 0.5s ease-out; }
        header .user-functions ul .user-functions-item:hover {
          background: #078080;
          color: #fffffe; }

.span-text-secondary {
  color: #078080;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

main {
  padding: 4rem;
  height: 100%;
  min-height: calc(100vh - 60px);
  flex: 1 0 auto;
  padding-bottom: 60px; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem;
      transition: all 0.5s ease-out; }
      main .icons a:hover {
        color: #078080; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }
  main#projects {
    width: 100%;
    height: 100%; }

.wrap {
  perspective-origin: 50% 50%; }

.svg {
  stroke: #078080;
  position: absolute;
  bottom: -100vh;
  transform-style: preserve-3d; }

.svg:nth-child(1) {
  left: 36%;
  animation: raise1 17s linear infinite;
  animation-delay: -3s;
  transform: scale(-0.3) rotate(2deg);
  z-index: -9;
  filter: blur(-5px); }

@keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(15deg); } }

.svg:nth-child(2) {
  left: -1%;
  animation: raise2 15s linear infinite;
  animation-delay: -4s;
  transform: scale(0) rotate(40deg);
  z-index: -8;
  filter: blur(-4px); }

@keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(227deg); } }

.svg:nth-child(3) {
  left: 5%;
  animation: raise3 9s linear infinite;
  animation-delay: -3s;
  transform: scale(0.3) rotate(10deg);
  z-index: -7;
  filter: blur(-3px); }

@keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(86deg); } }

.svg:nth-child(4) {
  left: 9%;
  animation: raise4 20s linear infinite;
  animation-delay: 0s;
  transform: scale(0.6) rotate(203deg);
  z-index: -6;
  filter: blur(-2px); }

@keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(38deg); } }

.svg:nth-child(5) {
  left: 72%;
  animation: raise5 12s linear infinite;
  animation-delay: -3s;
  transform: scale(0.9) rotate(61deg);
  z-index: -5;
  filter: blur(-1px); }

@keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(257deg); } }

.svg:nth-child(6) {
  left: 91%;
  animation: raise6 7s linear infinite;
  animation-delay: -1s;
  transform: scale(1.2) rotate(235deg);
  z-index: -4;
  filter: blur(0px); }

@keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(117deg); } }

.svg:nth-child(7) {
  left: 71%;
  animation: raise7 20s linear infinite;
  animation-delay: -4s;
  transform: scale(1.5) rotate(91deg);
  z-index: -3;
  filter: blur(1px); }

@keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(349deg); } }

.svg:nth-child(8) {
  left: 27%;
  animation: raise8 8s linear infinite;
  animation-delay: -2s;
  transform: scale(1.8) rotate(30deg);
  z-index: -2;
  filter: blur(2px); }

@keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(9deg); } }

.svg:nth-child(9) {
  left: 18%;
  animation: raise9 10s linear infinite;
  animation-delay: -4s;
  transform: scale(2.1) rotate(20deg);
  z-index: -1;
  filter: blur(3px); }

@keyframes raise9 {
  to {
    bottom: 150vh;
    transform: scale(2.1) rotate(309deg); } }

.svg:nth-child(10) {
  left: 67%;
  animation: raise10 8s linear infinite;
  animation-delay: -4s;
  transform: scale(2.4) rotate(84deg);
  z-index: 0;
  filter: blur(4px); }

@keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(107deg); } }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bio-image bio bio' 'job job job';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bio-image;
    margin: auto;
    border-radius: 50%;
    border: #078080 5px solid; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-info .job1 {
    grid-area: job1; }
  .about-info .job2 {
    grid-area: job2; }
  .about-info .job3 {
    grid-area: job3; }
  .about-info .job {
    background: rgba(255, 255, 255, 0.5);
    padding: 0.5rem;
    border-bottom: #078080 5px solid;
    border-radius: 5px; }
  .about-info .job:nth-child(1) {
    grid-area: job1; }

.carousel {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border-radius: 5px;
  transition: all 0.5s ease-out; }
  .carousel:hover .carousel-control-prev,
  .carousel:hover .carousel-control-next {
    opacity: 1; }

.carousel-item img {
  width: 100%;
  height: 50vh;
  object-fit: cover; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #078080 solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 1rem 2rem;
      background: #078080;
      color: #fffffe; }
      .boxes div:hover span {
        color: #fffffe; }

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem; }
  .contact-form .form-section {
    width: 90%;
    max-width: 60vw;
    font-size: 1.5rem;
    text-align: center;
    border: 3px #078080 solid;
    padding: 1.5rem 2.5rem;
    margin: 0.5rem;
    box-sizing: border-box; }
    .contact-form .form-section label {
      display: block;
      margin-bottom: 0.5rem; }
    .contact-form .form-section input[type="text"],
    .contact-form .form-section input[type="email"],
    .contact-form .form-section textarea {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 1rem;
      font-size: 1rem;
      resize: none; }
  .contact-form .submit {
    width: 100%;
    height: 100%;
    background-color: #f8f5f2;
    color: #0d0d0d;
    border: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease-out; }
    .contact-form .submit:hover {
      background-color: white; }

.btn, .btn-standard, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-standard:hover, .btn-dark:hover, .btn-light:hover {
    background: rgba(7, 128, 128, 0.8);
    color: set-text-color(#078080); }

.btn-standard {
  background: #088a8a;
  color: #0d0d0d; }

.btn-dark {
  background: #997652;
  color: #fffffe; }

.btn-light {
  background: white;
  color: #0d0d0d; }

footer {
  width: 100%;
  z-index: 3; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #e6dcd1;
  color: #0d0d0d;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .project-list {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .project-list {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../images/portrait_small.jpg");
      width: 150px;
      height: 150px; }
  .about-info {
    grid-template-areas: 'bio-image' 'bio' 'job';
    grid-template-columns: 1fr; }
  .project-list {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main {
    padding: 2rem; }
    main #home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 1rem;
      font-size: 5rem; }
  .project-list {
    grid-template-columns: 1fr; } }
